[Unit]
Description=Automation One Suit
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/python3 /usr/bin/AutomationOne /data/AutomationOne/config.yaml
WorkingDirectory=/data/AutomationOne/

[Install]
WantedBy=multi-user.target